* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media screen and (min-width: 390px) {
	.navbar {
		display: flex;
		flex-direction: column;
		align-items: center;

		.navbar-brand {
			font-weight: 400;
			font-family: 'Koulen', cursive;
			font-size: 40px;
		}

		.nav {
			font-family: 'alumni', ;
			font-weight: 600;
			font-size: 16px;

			.dropdown-item {
				font-family: 'alumni', ;
				font-weight: 600;
				font-size: 14px;
			}
		}

	}

	.parallax {
		background-image: url(../assets/img/back-ground3-1920px.jpg);
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 640px;
		height: 270px;
	}

	/*MAIN CONTENT*/
	.main-parent {
		.our-mision-parent {
			background-image: url(../assets/other/bgctech1280.jpg);
			background-size: 400px;
			height: 50px;
			font-weight: 400;
			font-family: 'Koulen', cursive;
			font-size: 25px;
			color: white;
		}

		.box-parent {
			margin: 5px;
			padding: 3px;

			.h1-box1 {
				font-family: 'alumni';
				font-weight: 500;
				font-size: 30px;
			}

			.box-section1 {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				.parrafo-box1 {
					width: 60%;
					font-family: 'alumni';
					font-weight: 200;
					font-size: 15px;
				}

				.img-box1 {
					width: 40%;
					border-radius: 500px;
				}
			}

			.h2-box2 {
				text-align: end;
				font-family: 'alumni';
				font-weight: 500;
				font-size: 30px;
			}

			.box-section2 {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;

				.img-box2 {
					width: 40%;
					border-radius: 500px;
				}

				.parrafo-section2 {
					width: 60%;
					padding-left: 10px;
					font-family: 'alumni';
					font-weight: 200;
					font-size: 15px;
				}
			}

			.h3-box3 {
				font-family: 'alumni';
				font-weight: 500;
				font-size: 30px;
			}



			.box-section3 {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				width: 100%;

				.parrafo-section3 {
					width: 60%;
					font-family: 'alumni';
					font-weight: 200;
					font-size: 15px;
				}

				.img-box3 {
					width: 40%;
					border-radius: 500px;
				}
			}
		}

		.boxes-grand-parent {
			.boxes-parent {
				display: flex;
				flex-direction: row;
				justify-content: center;
				list-style-type: none;
				padding: 0;

				.boxes-blocks {
					width: 25%;
					display: flex;
					flex-direction: column;
					align-items: center;

					.img-box {
						width: 80%;
						border-radius: 500px;
					}

					.boxes-content {
						text-decoration: none;
						text-align: center;
						font-family: 'alumni';
						font-weight: 500;
						font-size: 14px;
						color: black;
					}


				}
			}
		}
	}

	/*FOOTER*/
	.parallax2 {
		background-image: url(../assets/img/back-ground1-1920px.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 500px;

		.box-footer-parent {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: 100%;
			height: 100%;
			font-weight: bold;

			.box-footer1 {
				height: 25%;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;

				.img-vcard {
					width: 32px;
				}

				.text-vcard {
					text-decoration: none;
					font-weight: 400;
					font-family: 'Koulen', cursive;
					font-size: 20px;
				}
			}

			.box-footer1 {
				font-weight: 400;
				font-family: 'Koulen', cursive;
				font-size: 17px;
			}
		}
	}

	/*V-CARD*/
	.vcard-grandparent {
		display: flex;
		flex-direction: column;
		align-items: center;

		.vcard-parent {
			display: flex;
			flex-direction: column;
			align-items: center;

			.vcard-img {
				display: flex;
				flex-direction: column;
				align-items: center;
				background-color: blue;
				width: 100%;
				.border-img{
					border: solid white;
					border-width: 10px;
					border-radius: 500px;
					width: 55%;
					.img-profile {
						border-radius: 500px;
						width: 100%;
					}
				}
				.cotainer-iconos{
					display: flex;
					flex-direction: row;
					justify-content: center;
					.icono1{
						display: flex;
						flex-direction: column;
						align-items: center;
						.icono1-img{
							background-color: #669cff;
							border-radius: 100px;
						}
					}
					.icono2{
						display: flex;
						flex-direction: column;
						align-items: center;
						.icono2-img{
							background-color: #669cff;
							border-radius: 100px;
						}
					}
				}
			}

			.vcard-content {
				.vcardbox {
					.sub-box {
						display: flex;
						text-align: center;
					}
				}
			}
		}
		}
	}
	#669cff


.boxes-blocks:hover {
	transform: scale(0.9, 0.9);
}